.container p {
    line-height: 1.5;
    margin: 1rem 0;
    font-weight: lighter;
  }
  
  .containerSkills {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    max-width: 50vw;
  }
  
  .done {
    max-width: 20vw;
    display: flex;
    flex-direction: column;
  }
  
  .done li {
    margin-bottom: 10px;
    line-height: 1.5;
  }
  
  .done h4 {
    font-size: 1.5rem;
    text-decoration: underline;
    margin-bottom: 0.5rem;
  }  
  
  /* Phone */
  @media screen and (max-width: 600px) {
    .done {
      max-width: 100vw;
    }
  
    .done ul {
      margin-right: 4.7rem;
      width: 100%;
    }
  
    .done li {
      font-size: 0.8rem;
    }
  
    .done h4 {
      font-size: 1rem;
    }
  
    .container h2 {
      font-size: 1.1rem;
    }
  }  