@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Tags */
/*              CUSTOM TAGS             */
.python {
  border: 0.1rem solid rgb(131, 205, 41);
}
.python:hover {
  background: rgba(131, 205, 41, 0.25);
}

.openscad {
  border: 2px solid rgb(227, 255, 65);
}
.openscad:hover {
  background: rgba(103, 255, 65, 0.25);
}

.pyqt5 {
  border: 0.1rem solid rgb(79, 205, 41);
}
.pyqt5:hover {
  background: rgba(60, 205, 41, 0.25);
}

.api-restful {
  border: 0.1rem solid rgb(97, 218, 251);
}
.api-restful:hover {
  background: rgba(97, 218, 251, 0.25);
}

.golang {
  border: 0.1rem solid rgb(0, 167, 208);
}
.golang:hover {
  background: rgb(0, 105, 131);
}

.azure-services {
  border: 0.1rem solid rgb(61, 191, 240);
}
.azure-services:hover {
  background: rgb(21, 90, 162);
}

.mariadb {
  border: 0.1rem solid rgb(198, 157, 113);
}
.mariadb:hover {
  background: rgb(38, 54, 100);
}

.java {
  border: 0.1rem solid rgb(224, 8, 8);
}
.java:hover {
  background: rgb(86, 155, 196);
}

.android-studio {
  border: 0.1rem solid rgb(66, 220, 133);
}
.android-studio:hover {
  background: rgb(72, 136, 242);
}

.django {
  border: 0.1rem solid rgb(17, 53, 39);
}
.django:hover {
  background: rgb(22, 197, 181);
}

.gml {
  border: 0.1rem solid rgb(143, 211, 76);
}
.gml:hover {
  background: rgb(91, 134, 48);
}

.aseprite {
  border: 0.1rem solid rgb(255, 255, 255);
}
.aseprite:hover {
  background: rgb(87, 87, 87);
}

.gamemaker-studio-2 {
  border: 0.1rem solid rgb(255, 255, 255);
}
.gamemaker-studio-2:hover {
  background: rgb(87, 87, 87);
}

/*                                         */


.react {
  border: 0.1rem solid rgb(97, 218, 251);
}
.react:hover {
  background: rgba(97, 218, 251, 0.25);
}

.node {
  border: 0.1rem solid rgb(131, 205, 41);
}
.node:hover {
  background: rgba(131, 205, 41, 0.25);
}

.mongodb {
  border: 0.1rem solid rgb(67, 153, 52);
}
.mongodb:hover {
  background: rgba(67, 153, 52, 0.25);
}

.redux {
  border: 0.1rem solid rgb(118, 74, 188);
}
.redux:hover {
  background: rgba(118, 74, 188, 0.25);
}

.razorpay {
  border: 0.1rem solid rgb(82, 143, 240);
}
.razorpay:hover {
  background: rgba(82, 143, 240, 0.25);
}

.material-ui {
  border: 0.1rem solid rgb(25, 118, 210);
}
.material-ui:hover {
  background: rgba(25, 118, 210, 0.25);
}

.bulma {
  border: 0.1rem solid rgb(0, 209, 178);
}
.bulma:hover {
  background: rgb(0, 209, 178, 0.25);
}

.next {
  border: 2px solid rgb(0, 112, 243);
}
.next:hover {
  background: rgba(0, 112, 243, 0.25);
}

.tailwind {
  border: 2px solid rgb(6, 182, 212);
}
.tailwind:hover {
  background: rgba(6, 182, 212, 0.25);
}

.react-query {
  border: 2px solid rgb(255, 65, 84);
}
.react-query:hover {
  background: rgba(255, 65, 84, 0.25);
}

.css-modules {
  border: 2px solid rgb(21, 114, 182);
}
.css-modules:hover {
  background: rgba(21, 114, 182, 0.25);
}
