@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");

.container {
  display: flex;
  justify-content: center;
  height: 100%;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.background {
  font-size: 5rem;
  font-family: "Montserrat";
  line-height: 1.1;
  color: var(--bg-text);
  position: absolute;
}

.foreground {
  display: flex;
  color: var(--accent-color);
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.name {
  color: #eee;
  font-size: 3.5rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.bio {
  color: #eee;
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 3rem;
  position: relative;
}

.button {
  background: var(--accent-color);
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
  margin-right: 1.5rem;
  color: var(--accent-button);
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.outlined {
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
  color: #eee;
  border: 2px solid var(--accent-color);
  background: transparent;
  cursor: pointer;
}

.button:hover,
.outlined:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

@media (max-width: 900px) {
  .name {
    font-size: 2.5rem;
  }
  .illustration {
    position: absolute;
    width: 100px;
    height: auto;
    right: 0;
    bottom: 0;
  }
}
